body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
margin-top: 100px;
}

img {
    max-width: 10rem;
    opacity: .7;
    margin: 1rem;
}

.poke-choice {
    margin: 10px;
}

input[type=radio]:hover + img {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: ease-in-out .5s;
    opacity: 1;
}

input[type=radio]:checked + img {
    border: 5px solid rgb(101, 218, 253);
    filter: grayscale(0%);
    border-radius: 50%;
    opacity: 1;
    transform: scale3d(1.3, 1.3, 1.3);
}

input[type=radio]{
    display: none;
}